@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcomejhhfhhjdjdk9</h1>
=======
    <h1 class="display-4">Welcomejhhfhhj</h1>
>>>>>>> 1408e0c77e8aee2e9fbe6d3fd2424922aa8cf3be
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
